*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(img/xadrez_255260497.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

h1{
    color: rgb(168, 168, 168);
}

h2{
    color: rgb(168, 168, 168);
}

.texto{
    color: rgb(168, 168, 168);
}