*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(img/xadrez_255260497.jpg);
    background-repeat: no-repeat;
    background-size: cover;

h1{
    color: rgb(168, 168, 168);
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h2{
    color: rgb(168, 168, 168);
}

.texto{
    color: rgb(168, 168, 168);
    position: absolute;
    top: 100%;
}